/* Overwriting theme styling */
/* Google fonts:
font-family: 'Kaushan Script', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Knewave', cursive;
font-family: 'Diplomata SC', cursive;
font-family: 'Open Sans', sans-serif;
*/

p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card {
    margin-top: 14px !important;
}

.card-content {
    padding: 20px !important;
}

.btn-floating {
    margin-bottom: 14px !important;
}

.page-footer {
    background-image: url("./../img/purple cloud - Copy.jpg") !important;
    background-repeat: repeat-x repeat-y !important;
}

.collection-item {
    padding-left: 20px !important;
}

/* Our styling */

/* General elements */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    padding: 20px;
    background-image: url("./../img/purple cloud - Copy.jpg") !important;
    background-repeat: repeat-x repeat-y !important;
}

main {
    flex: 1 0 auto;
    background-color: #cdcdc0;
}

h5 {
    font-size: 60px;
    font-style: oblique;
}
 
.header {
    margin-top: 0px;
    font-style: oblique;
    font-family: 'Rock Salt', cursive;
}

.subheader {
    font-family: 'Kaushan Script', cursive;
    font-size: 200%;
}

/* Map view */
#map-view {
    height: 100%;
    background-image: url("./../img/purple cloud.jpg") !important;
    background-repeat: repeat-x repeat-y !important;
}

.map-title {
    padding: 20px;
    font-size: 2.5em;
    font-family: 'Merienda One', cursive;
}

#vmap {
    width: 100%;
    height: 500px;
}

/* Cities view */
#cities-view {
    display: none;
    text-align: center;
}

#flag-area {
    padding-left: 0px;
}

#country-flag {
    width: 100%;
}

#cities-area {
    padding-right: 0px;
}

.city {
    cursor: pointer;
}

/* Information view */
#information-view {
    display: none;
}

#currency-area {
    text-align: center !important;
}

.flight-area {
    padding-left: 20px;
    padding-right: 20px;
    background: white;
}

.contact-title-text{
    font-family: 'Rock Salt', cursive;
    font-size:2.5em;
}

.contact-sub-text{
    font-family: 'Merienda One', cursive;
    font-size:1.3em;
}

.btn-style{
    background-image:url("./../img/purple cloud.jpg")
}

.gold-style{
    background-image:url("./../img/purple cloud - Copy.jpg")
}

.purple-style{
    background-image:url("./../img/purple cloud.jpg")
}

.rock-salt{
    font-family: 'Rock Salt', cursive !important;
    font-style: oblique !important;
    font-size: 2em !important;
}

.kaushan-script{
    font-family: 'Kaushan Script', cursive !important;
    font-size:2em !important;
}

.merienda-one{
    font-family: 'Merienda One', cursive !important;
    font-size:1.5em !important;
}

.gold-text{
    color:#bda24b !important;
}

.purple-text{
    color:rgb(136, 82, 136) !important;
}

.flight-area{
    background: white;
}

#recent-city-back-button {
    display: none;
}

.recent-city {
    margin-left:10px;
    margin-right:10px;
    background:white;
    border-radius: 10px;
    font-weight:bold;
}

a.recent-city:hover{
    background: rgb(136, 82, 136) !important;
}

#recent-destinations{
    margin-bottom: 14px;
}

#translate-button{
    background: rgb(136, 82, 136) !important;
    border-radius: 10px;
    font-weight:bold;
}