/* Overwriting theme styling */

p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card {
    margin-top: 14px !important;
}

.card-content {
    padding: 20px !important;
}

.btn-floating {
    margin-bottom: 14px !important;
}

.page-footer {
    margin-top: 14px !important;
}

.collection-item {
    padding-left: 20px !important;
}

/* Our styling */

/* General elements */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    padding: 20px;
    margin-bottom: 14px;
}

main {
    flex: 1 0 auto;
}

h5 {
    font-size: 60px;
    font-style: oblique;
}
 
.header {
    margin-top: 0px;
    font-style: oblique;
}

.subheader {
    font-style: oblique;
}

/* Map view */
#map-view {
    height: 100%;
    background: #a5bfdd;
}

.map-title {
    padding: 20px;
    font-size: 2em;
}

#vmap {
    width: 100%;
    height: 500px;
}

/* Cities view */
#cities-view {
    display: none;
    text-align: center;
}

#flag-area {
    padding-left: 0px;
}

#country-flag {
    width: 100%;
}

#cities-area {
    padding-right: 0px;
}

.city {
    cursor: pointer;
}

/* Information view */
#information-view {
    display: none;
}

#currency-area {
    text-align: center !important;
}

.flight-area {
    padding-left: 20px;
    padding-right: 20px;
}