#cities-area {
    display: none;
}

#flight-area {
    display: none;
}
 
h5 {
    font-size: 60px;
    font-style: oblique;
}

#map-area {
    height: 500px;
    margin-bottom: 0;
}

#vmap {
    width: 100%;
    height: 100%;
}